*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,5), rgba(0,0,0,-0.9)), url(/css/exam.png);
}

.container .header{
    width: 80%;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a{
    text-decoration: none;
    color: white;
}

.container .nav ul li{
    display: inline-block;
    margin:0 10px;
}

.container .nav ul li a{
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover{
    color: rgb(185, 86, 0);
}

.container .nav button{
    background: none;
    border: 4px solid darkgray;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    font-size:20px;
}


.container .nav button:hover{
    border-color: rgb(185, 86, 0);
}

.container .hero{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF5EE;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

.container .hero h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.container .hero p{
    font-size: 22px;
}

.container .hero .input-box{
    width: 100%;
    height: 50px;
    background: none;  
}

.container .hero .input-box input{
    width: 39%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.723);
    border-radius: 40px;;
    font-size: 16px;
    color: white;
    padding :20px 45px 20px 20px;
}

.container .input-box button{
    width: 10%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.container .input-box button:hover{
    background-color: transparent;
    color:white;
}

.container .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: white;
}

.container .wrapper h1{
    font-size: 36px;
    text-align: center;
}

.container .wrapper .input-box{
    width: 100%;
    height: 50px;
    background: none;
    margin: 30px 0;
}

.container .wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.723);
    border-radius: 40px;;
    font-size: 16px;
    color: white;
    padding :20px 45px 20px 20px;
}

.container .wrapper .input::placeholder{
    color: white;
}

.container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.container .wrapper .btn:hover{
    background-color: rgba(169, 169, 169, 0.04);
    color:white;
}

.container .wrapper2 {
    text-align:center;
    align-items: center;
    margin: 420px 0;
}

.container .wrapper2 h1 {
    font-size:30px;
    color:white;
    margin-bottom:20px;
}

.container .wrapper2 .input-box{
    height: 50px;
    display:flex;
    justify-content: center;
}

.container .wrapper2 .input-box button{
    padding: 10px 20px;
    margin: 0 10px;
    font-size:16px;
    cursor: pointer;
    }


