<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Onther system page</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/web3@4.2.2/dist/web3.min.js"></script>
        <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
        <script type="module" src="js/abi.js"></script>
        <script type="module" src="js/join.js"></script>
        <script type="module" src="js/common.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1><a href="/"><br>ONTHER</a></h1>
                <div class="nav">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="#">MEMBERSHIP</a></li>
                        <li><a href="join">JOIN</a></li>
                        <li><a href="#">BENEFIT</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#"> </a></li>
                        <button type="button" id="button"> Connect Wallet</button>
                    </ul>
                </div>
            </div>
            
            <div class="wrapper">
                <form action="">
                    <h1>Join the membership</h1>
                    <!-- <div class="input-box">
                        <input type="text" id="join_Addr" placeholder="  Wallet Address"
                        required>
                    </div> -->
                    <div class="input-box">
                        <input type="password" id="join_Id" placeholder="  Membership ID"
                        required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder=" Registerd Car No."
                        required>
                    </div>
                    <button type="button" id="button3" class="btn"> Join Up</button>
                </form>
            </div>

         </div>
    </body>  
</html>