<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Onther system page</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/web3@4.2.2/dist/web3.min.js"></script>
        <script type="module" src="js/abi.js"></script>
        <script type="module" src="js/common.js"></script>
        <script type="module" src="js/service.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1><a href="/"><br>ONTHER</a></h1>
                <div class="nav">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="#">MEMBERSHIP</a></li>
                        <li><a href="join">JOIN</a></li>
                        <li><a href="#">BENEFIT</a></li>
                        <li><a href="#">ABOUT </a></li>
                        <li><a href="#"> </a></li>
                        <button type="button" id="button"> Connect Wallet</button>
                    </ul>
                </div>
            </div>

            <div class="wrapper2">
                <h1>Press the In & Out button to register your parking time  <br> </h1>
            
                <div class=input-box>
                    <button type="button" id="inBtn" class="inbtn"> IN </button>
                    <button type="button" id="outBtn" class="outbtn"> OUT </button>
                </div>
            </div>
           

    
        </div>
        
    </body>